@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables de couleurs */
:root {
  --color-primary: #1c2b39;
  --color-primary-alt: #1c2b39cc;
  --color-secondary: #fdb913;
  --color-tertiary: #f8f8ff;
  --color-tertiary-alt: #f8f8ffcc;
  --color-light-main: #f0f0f0;
  --color-dark-main: #515151;
  --color-hover: #29425a;
  --color-shadow: rgba(100, 100, 111, 0.2);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, sans-serif;
  cursor: default;
}

body { overflow: hidden; }

::-webkit-scrollbar { width: 0; }
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track { background: transparent; }

/* Style de la landing page (+ style "light theme") */
#choose-background { position: relative; }
#choose-background img {
  width: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#choose-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--color-tertiary-alt);
  backdrop-filter: blur(0.3em);
}

#choose-header h2 {
  text-shadow: var(--color-shadow) 0px 7px 29px 0px;
  display: flex;
  align-items: center;
  color: var(--color-primary);
  font-size: 2em;
  font-weight: 400;
}
h2 span { color: var(--color-secondary); }

.form-simple {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.form-simple div, .form-simple button { margin-right: 1em; }
.form-simple div {
  position: relative;
  display: flex;
  color: var(--color-primary);
  background-color: var(--color-tertiary);
  width: 15em;
  padding: 0.5em 0.6em;
  border-radius: 2em;
  box-shadow: var(--color-shadow) 0px 7px 29px 0px;
  font-size: 1.2em;
}

.form-simple div input {
  background-color: inherit;
  border: none;
  width: 100%;
  font-weight: 600;
  cursor: text;
}

.form-simple button {
  height: 3em;
  color: var(--color-tertiary);
  background-color: var(--color-primary);
  padding: 0.8em 2em;
  font-weight: 600;
  border-radius: 2em;
  border: none;
  box-shadow: var(--color-shadow) 0px 7px 29px 0px;
  cursor: pointer;
}
.form-simple button i { font-size: 1.5em; }
.form-simple button:disabled { cursor: not-allowed; }

#choose-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0.5em;
  font-weight: 700;
}

#choose-footer a {
  text-decoration: none;
  color: var(--color-primary);
  padding: 0.5em;
}

#choose-footer a:hover {
  color: var(--color-dark-main);
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  height: 2.5em;
  padding: 0 1em 0 0.4em;
  background-color: var(--color-primary);
  border-radius: 2.5em;
  color: var(--color-tertiary);
  font-weight: 600;
  box-shadow: var(--color-shadow) 0px 7px 29px 0px;
}

nav span {
  display: flex;
  align-items: center;
}

nav button {
  background-color: transparent;
  border: none;
  border-radius: 1.5em;
  color: var(--color-tertiary);
  font-size: 1em;
  height: 1.8em;
  font-weight: 600;
  margin-right: 0.5em;
  padding: 0 1em;
  cursor: pointer;
}

nav button.active,
nav button:hover,
#theme-toggle:hover,
#return-toggle:hover {
  background-color: var(--color-hover);
}

nav span i {
  margin-right: 0.4em;
  font-size: 1.5em;
}

#theme-toggle,
#return-toggle {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 1em;
  color: var(--color-tertiary);
  z-index: 1;
  background-color: var(--color-primary);
  width: 2.5em;
  height: 2.5em;
  border-radius: 2.5em;
  box-shadow: var(--color-shadow) 0px 7px 29px 0px;
}

#theme-toggle {
  right: 1em;
}

#return-toggle {
  left: 1em;
}

#theme-toggle i,
#return-toggle i {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}

#return-toggle a {
  text-decoration: none;
  color: var(--color-tertiary);
}

.photo-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo-section video {
  border: var(--color-primary) 0.2em solid;
  border-radius: 1em;
  box-shadow: var(--color-shadow) 0px 7px 29px 0px;
  height: 400px;
  width: 531px;
  background-color: var(--color-light-main);
}

.photo-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.photo-actions button {
  color: var(--color-tertiary);
  background-color: var(--color-primary);
  height: 3em;
  width: 3em;
  border-radius: 3em;
  border: none;
  box-shadow: var(--color-shadow) 0px 7px 29px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
}

.photo-actions button i {
  font-size: 1.5em;
  cursor: pointer;
}

.photo-actions button:disabled {
  cursor: not-allowed;
}

#photoGallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  justify-content: center;
  align-items: start;
  height: 400px;
  width: 531px;
  border-radius: 1em;
  border: var(--color-primary) 0.2em solid;
  overflow-y: auto;
  padding: 1em;
  box-shadow: var(--color-shadow) 0px 7px 29px 0px;
  background-color: var(--color-light-main);
}

.photo-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.photo-item img {
  border: var(--color-primary) 0.2em solid;
  border-radius: 1em;
  box-shadow: var(--color-shadow) 0px 7px 29px 0px;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.photo-item button {
  color: var(--color-tertiary);
  background-color: var(--color-primary);
  height: 2.5em;
  border-radius: 2.5em;
  border: none;
  box-shadow: var(--color-shadow) 0px 7px 29px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1.5em;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: 600;
}

.photo-item button i {
  font-size: 1.25em;
  margin-right: 0.5em;
  cursor: pointer;
}

.location-section,
.call-section {
  display: flex;
  flex-direction: column;
}

.location-section span,
.call-section span {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}

.location-section span p,
.call-section span div {
  margin: 0.5em;
}

/* Style dark theme */
body.dark-theme {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}
body.dark-theme #choose-container { background-color: var(--color-primary-alt); }
body.dark-theme #choose-header h2 { color: var(--color-tertiary); }
body.dark-theme .form-simple button {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}
body.dark-theme #choose-footer a { color: var(--color-tertiary); }
body.dark-theme #theme-toggle, 
body.dark-theme #return-toggle, 
body.dark-theme .photo-actions button, 
body.dark-theme .photo-item button,
body.dark-theme .menu-nav nav { background-color: var(--color-tertiary);}

body.dark-theme #theme-toggle i,
body.dark-theme #return-toggle i, 
body.dark-theme .menu-nav nav,
body.dark-theme .menu-nav nav button,
body.dark-theme .photo-item button,
body.dark-theme .photo-actions button i {
  color: var(--color-primary);
}

body.dark-theme .menu-nav nav button.active,
body.dark-theme .menu-nav nav button:hover {
  background-color: var(--color-light-main);
}

body.dark-theme .photo-section video,
body.dark-theme .photo-item img,
body.dark-theme #photoGallery {
  border: var(--color-tertiary) 0.2em solid;
  box-shadow: var(--color-shadow) 0px 7px 29px 0px;
  background: none;
}